.App {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: rebeccapurple;
  color: lightcyan;
  padding: 10px
}

.Btn {
  padding: 15px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.BtnSize {
  background-color: rebeccapurple;
  color: lightcyan;
  font-weight: bold;
  width: 95px;
  height: 40px;
}

.Display {
  font-weight: bold;
  display: list-item;
  color: rebeccapurple
}